$colorOne : #F2588E;
$colorTwo : #805463;
$colorThree : #8a1f49;
$colorstandard : white;

@font-face {
    font-family: "Bellota";
    src: url(../fonts/bellota/Bellota-Regular.otf) format('truetype');
}

#contact {
    background-image: url("../images/raspberry-pi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    transition-timing-function: ease;
    font-family: 'Bellota';


    .main-container {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        .content {
            h1 {
                color: $colorstandard;
                text-shadow: 5px 3px 30px;
                font-size: 48px;
                font-weight: 900;
            }

            .about {
                h3 {
                    padding-top: 20px;
                    color: $colorstandard;
                    text-shadow: 5px 3px 30px;
                    font-size: 22px;
                    font-weight: 900;
                }

                ul {
                    li {
                        color: white;
                        padding: 10px 30px;
                        background-image: url(../images/icon-v.png);
                        background-size: 10%;
                        background-repeat: no-repeat;
                        background-position-y: 7px;
                        background-position-x: 3px;
                        list-style-type: none;
                        font-size: 20px;
                    }
                }
            }


        }

        @keyframes form {
            0% {
                opacity: 0;
                transform: translate(-300px, 0px) rotate(0deg);
            }

            90% {
                opacity: 1;
                transform: translate(10px, 0px) rotate(0deg);
            }

            100% {
                opacity: 1;
                transform: translate(0px, 0px) rotate(0deg);
            }
        }

        .content-form {
            animation: form 0.7s ease-in-out;
            background-color: rgba(0, 0, 0, 0.63);
            padding: 40px 20px;
            width: 30%;
            box-shadow: 10px 10px 25px;

            .titleform {
                margin: 7px 0;
                text-align: center;
                color: white;
                font-size: 18px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.3em;
            }

            #divfirstname,
            #divemail {
                position: relative;

                img {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 30px;
                    opacity: 0.5;
                }
            }

            #divsubmit {
                text-align: center;

                button {
                    width: 50%;
                    height: 38px;
                    cursor: pointer;
                    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2547e), to(#ac3645));
                    border: 1px solid #f25a97;
                    box-shadow: 1px 1px 0px rgba(218, 79, 128, 0.8), 2px 2px 0px rgba(218, 79, 128, 0.6), 3px 3px 0px rgba(218, 79, 128, 0.4), 4px 4px 0px rgba(218, 79, 128, 0.2);

                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font-family: 'Bellota';
                    font-weight: 900;

                    &:hover {
                        transition: all .2s ease-in-out;
                        transform: scale(1.1);
                        opacity: 0.9;
                        background-image: -webkit-gradient(linear, left bottom, left top, from(#f2547e), to(#ac3645));
                    }
                }

            }

            #inputfirstname,
            #inputlastname,
            #inputmail {
                width: 100%;
                height: 38px;
                margin: 4px 0;
            }

            #subject,
            #country {
                width: 101%;
                padding: 2px;
                height: 38px;
                margin: 4px 0;
            }

            #message {
                width: 100%;
                padding: 0;
                height: 76px;
                border: 2px solid white;
                margin: 4px 0;
                resize: none;
            }



            .none {
                display: none;
            }

            #gender {
                display: flex;
                align-items: center;
                justify-content: center;

                .choicegender {
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    cursor: pointer;

                }

                #radiofemale,
                #radiomale {
                    width: 20px;
                    height: 20px;
                    margin-right: 25px;
                }
            }

            #honeypot {
                display: none;
            }

            #errors {
                display: none;
                color: red;
                font-size: 13px;
                font-weight: 900;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }

            #success {

                color: green;
                font-size: 15px;
                font-weight: 900;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }

            .classerror {
                color: red;
                font-size: 14px;
                font-weight: 900;
                padding-bottom: 15px;
                text-align: center;
            }
        }


    }
}

@media screen and (max-width: 840px) {
    #contact {
        background-image: url("../images/raspberry-pi.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 50% right 50%;
        transition: 1s;
        transition-timing-function: ease;

        .main-container {
            padding-top: 0;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin: 0 auto;

            .content {
                width: 50%;
                margin: 0 auto;

                h1 {
                    color: $colorstandard;
                    text-shadow: 5px 3px 30px;
                    font-size: 34px;
                    font-weight: 700;
                }

                .about {


                    h3 {

                        padding: 0;
                        color: $colorstandard;
                        text-shadow: 5px 3px 30px;
                        font-size: 16px;
                        font-weight: 900;
                    }

                    ul {
                        padding: 0;

                        li {
                            color: white;
                            padding: 10px 30px;
                            background-image: url(../images/icon-v.png);
                            background-size: 8%;
                            background-repeat: no-repeat;
                            background-position-y: 8px;
                            background-position-x: 3px;
                            list-style-type: none;
                            font-size: 14px;
                            width: 50%;

                        }
                    }
                }


            }

            .content-form {
                background-color: rgba(0, 0, 0, 0.63);
                padding: 40px 20px;
                width: 80%;
                box-shadow: 10px 10px 25px;
                margin: 0 auto;


                .titleform {
                    margin: 7px 0;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.3em;
                }

            }
        }
    }
}